@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root{
    --dark-bg: #2A2B2F;
    --red-bg: #9F372A;
    --gray-bg: #968D7E;
    --ligth-brown-bg: #948156;
    --dark-brown-bg: #694E33;
    --anti-flash-white: #F2F3F4;
}

*::after, *::before, *{
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body{
    background-color: var(--anti-flash-white)
}

.bg-light-brown{
    background-color: var(--ligth-brown-bg) !important; 
}

.bg-red{
    background-color: var(--red-bg) !important;
}

.text-dark{
    color: var(--dark-bg) !important;
}

.text-red{
    color: var(--red-bg) !important;
}

.text-brown{
    color: var(--dark-brown-bg) !important;
}

li .text-dark:hover{
    color: var(--red-bg) !important;
}

span{
    color: var(--red-bg) !important;
}

#home{
    border: none;
}

#about_us .card{
    border: none;
}

.card{
    background-color: var(--anti-flash-white);
    border: none;
}

a.active{
    background-color: var(--red-bg);
    color: var(--anti-flash-white) !important;
    border-radius: 0.5rem
}

.btn:hover{
    scale: 1.1;
    transition: 0.2s;
}