@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=Ruda:wght@400;700&display=swap');

:root{
    --dark-bg: #2A2B2F;
    --red-bg: #9F372A;
    --gray-bg: #968D7E;
    --ligth-brown-bg: #948156;
    --dark-brown-bg: #694E33;
    --anti-flash-white: #F2F3F4;
    --title-font: 'Ruda', sans-serif;
    --text-font: 'Roboto Slab', serif;;
}

*::after, *::before, *{
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body{
    background-color: var(--anti-flash-white)
}

.bg-light-brown{
    background-color: var(--ligth-brown-bg) !important; 
}

.bg-red{
    background-color: var(--red-bg) !important;
}

.bg-dark-brown{
    background-color: var(--dark-brown-bg) !important;
}

.text-dark{
    color: var(--dark-bg) !important;
}

.text-red{
    color: var(--red-bg) !important;
}

.text-brown{
    color: var(--dark-brown-bg) !important;
}

.text-font{
    font-family: var(--text-font);
}

button, a, h1, h2{
    font-family: var(--title-font) !important;
}

button:active, button:focus, a:active, a:focus{
    outline: none;
}

p, span, label{
    font-family: var(--text-font) !important;
}

li .text-dark:hover, a[class~="navbar-brand"]:hover, a[class~=text-muted]:hover{
    color: var(--red-bg) !important;
    transition: 0.3s;
}

span{
    color: var(--red-bg) !important;
}

#home, #about_us, .card{
    border: none;
}

.card{
    background-color: var(--anti-flash-white);
    border: none;
}

a.active{
    background-color: var(--red-bg);
    color: var(--anti-flash-white) !important;
    border-radius: 0.5rem
}

.btn:hover{
    scale: 1.1;
    transition: 0.2s;
}

.fixed-top{
    z-index: 1999;
}